#application
  p#docs
    a(href='/docs/index.html') Documentation
  
  p#user-input
    label(for='msg') Send a Message
    input#msg(name='msg', size='50')
    input#submit(name='submit', type='submit')
  
  ul#messages