body { 
  font-size: 18px;
  line-height: 1.65;
  background-color: #D1E9B7;
}
a, a:visited {
  padding: 0 2px;
  text-decoration: none;
  background: #AED881;
  color: #222;
}
a:active, a:hover {
  color: #000;
  background: #8BC84B;
}
html,
body,
#application {
  height: 100%;
  overflow: hidden;
}
#application { 
  position: relative;
}
  #user-input {
    margin: 20px 40px;
  }
  #docs {
    margin: 20px 40px;
    float: right;
  }
  #messages {
    border: 3px solid #8BC84B;
    margin: 20px;
    padding: 0;
    position: absolute;
    top: 60px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    overflow-y: scroll;
    background: #F3FAED;
  }
    #messages li {
      padding: 0 0 0 255px;
      list-style: none outside none;
      position: relative;
      border-bottom: 1px solid #ccc;
    }
    #messages li.status {
      background: #ddd;
    }
    #messages li span {
      border-right: 2px solid #8BC84B;
      width: 225px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 0 10px;
      overflow: hidden;
    }